<h1>Editing saved reply</h1>

<%= render "form", saved_reply: @saved_reply %>

<br>

<div>
  <%= link_to "Show this saved reply", @saved_reply %> |
  <%= link_to "Back to saved replies", saved_replies_path %>
</div>
